<div class="form-horizontal">
  <div class="control-group">
   <%= f.label :payroll_month_year, :class => 'control-label' %>
   <div class="controls">
    <%= f.select :month, Payroll::MONTH_ARRAY.collect{|key,val| [val,key]},{},:style => "width:80px;" %>
    <%= f.select :year,[["Year",""]]+(2013..2025).collect{|x| x},{},:style => "width:80px;",:include_blank => true %>
    <% if @payroll.errors[:payroll_month_year].present? %>
      <span class="alert alert-error bold">
        <%= @payroll.errors[:payroll_month_year].first %>
      </span> 
    <% end %>
   </div>
  </div>
    <div class="control-group">
   <%= f.label :advance_salary, :class => 'control-label' %>
   <div class="controls">
    <%= f.text_field :advance_salary %>
   </div>
 </div>
</div>
