<div class="form-horizontal">
<div class="control-group">
  <%= f.label :start_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :start_date, :class => 'text_field datepicker' %>
    <% if @leave.errors[:start_date].present? %>
      <span class="alert alert-error bold">
        <%= @leave.errors[:start_date].first %>
      </span> 
    <% end %>
  </div>
</div>
<div class="control-group">
  <%= f.label :end_date, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :end_date, :class => 'text_field datepicker' %>
    <% if @leave.errors[:end_date].present? %>
      <span class="alert alert-error bold">
        <%= @leave.errors[:end_date].first %>
      </span> 
    <% end %>
  </div>
</div>
<div class="control-group">
  <%= f.label :reason_for_leave, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :reason_for_leave, :class => 'text_field',:rows => 5 %>
    <% if @leave.errors[:reason_for_leave].present? %>
      <span class="alert alert-error bold">
        <%= @leave.errors[:reason_for_leave].first %>
      </span> 
    <% end %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%=  link_to "Back",leaves_path,:class => 'btn btn-default' %>
      <%=  submit_tag "save",class: 'btn btn-primary', confirm: "Are you sure ?" %>
  </div>
</div>
</div>
<script>
  $(function() {
    $( ".datepicker" ).datepicker(
      { autoclose: true,
        format: "dd/mm/yyyy"
      }
    );
  });
  </script>