<h1>Time Sheets</h1>

<% if @time_sheet %>
<div>
  <center>
   <h1> Time Sheet For <%= DateTime.now.strftime("%B %Y") %> </h1>
  </center>
</div>

<table class="center table table-striped table-bordered">
  <tr>
    <%= form_for @time_sheet do |f| %>
     <%= render "time_sheet", :f => f,:time_sheet => @time_sheet %>
     <div class="actions">
    <% if @time_sheet.status == 'New' || @time_sheet.status == 'Reject' %>
      <input type="submit" value="Save timesheet" class="btn btn-primary">
      <%= link_to "Submit",@time_sheet,:class => 'btn btn-success' %>
      <a href="/time_sheets" class="btn btn-default">Cancel</a>
      <% end %>
     </div>
    <% end %>
  </tr>
</table>
<% else %>
 <%= link_to 'Start Time Log', new_time_sheet_path %> For <%= DateTime.now.strftime("%B %Y") %>
<% end %>
