<div class="bootstrap">
<div>
  <center>
   <h3> Time Sheet Summery For <%= DateTime.now.strftime("%B %Y") %> </h3>
  </center>
</div>
<div class="row">

  <div class="span3"><b> Total Days :</b> <%= @time_sheet.logged_hours.count %></div>
  <div class="span3"><% sum = 0 %>
  <% @time_sheet.logged_hours.each { |a| sum+=a.to_i }  %>
  <b>Total Days Logged :</b> <%= sum/8 %></div>
  <div class="span3"> <b>Time sheet Approver:</b> <%= @time_sheet.user.manager.name %></div>
  
</div>
<br/>
<table class="table table-striped table-bordered" >
  <tr>
    <td style="max-width:20px;" align="center">
      Mon
    </td>
    <td style="max-width:20px;" align="center">
      Tue
    </td>
    <td style="max-width:20px;" align="center">
      Wed
    </td>
    <td style="max-width:20px;" align="center">
      Thus
    </td>
    <td style="max-width:20px;" align="center">
      Fri
    </td>
    <td style="max-width:20px;" align="center">
      Sat
    </td>
    <td style="max-width:20px;" align="center">
      Sun
    </td>
  </tr>
<% i = 0 %>  
<% calender_view(@time_sheet).each do |p| %>
  <tr>
    <% p.each do |y| %>
      <td style="max-width:20px;" align="center">
        <% if y.present? %>
         <%= y.strftime("%d") %>
      </br>
         <% logedhours = @time_sheet.logged_hours[i]%>
         <label class="btn <%= logedhours.to_i != 0 ? 'btn-info' : 'btn-warning' %>"> <%= @time_sheet.logged_hours[i] %> </label>
          <% i = i+1 %>
        <% end %>
      </td>
     <% end %>
  </tr>
<% end %>
</table>
<div class="actions">
<% if current_user.is_employee? %>
  <%= form_for @time_sheet do |f| %>
    <%= f.hidden_field :status, :value => 'Submisson' %>
  <% if @time_sheet.status == "New"%>
  <%= button_tag "Submit for Approval", :class => 'btn btn-success',:id => @time_sheet.id,:confirm => 'Are you sure to submit time sheet to manager ?' %>  
  <a class="btn btn-info" href="<%= time_sheets_path%>"> Edit Time Sheet</a>
  <% end %>
  <a class="btn btn-danger" href="<%= time_sheets_path %>"> Back</a>
  <a class="btn btn-danger" href="<%= root_path %>"> Cancel</a>
  <% end %>
 <% end %>

<% if current_user.is_admin? %>
<a class="btn btn-info" href="<%= manage_time_sheets_time_sheets_path %>"> Back</a>
 <% if @time_sheet.status == "Submisson"%>
  <%= button_tag "Approve", :class => 'btn btn-success btn_approve',:id => @time_sheet.id %>  
  <%= button_tag "Reject", :class => 'btn btn-danger btn_reject',:id => @time_sheet.id %> 
 <% end %>
<% end %>


</div>
</div>
<script>
$(".btn_approve").click(function(){ 
  $.ajax({
    type : 'post',
    url : "/time_sheets/change_status",
    data: {status : 'Approve',id : $(this).attr("id"), from : 'show_page'},
    dataType : 'json',
    error: function (err) {
            alert("error in processing ");
        },
        success: function () {
            window.location.href = "/time_sheets/manage_time_sheets"
        }
  });
    });
    $(".btn_reject").click(function(){ 
   $.ajax({
    type : 'post',
    url : "/time_sheets/change_status",
    data: {status : 'Reject',id : $(this).attr("id"),from : 'show_page'},
    dataType : 'json',
    error: function (err) {
            alert("error in processing ");
        },
        success: function () {
            window.location.href = "/time_sheets/manage_time_sheets"
        }
  });
    });
</script>