<div class="container_24 clearfix">
<%= form_for(@employe,:url => new_user_registration_path) do |f| %>
  <div class="bootstrap">
    <ul class="nav nav-tabs">
     <li class="active bold"><a href="#basic" id="basic_a" data-toggle="tab">Basic Details</a></li>
     <li class="bold"><a href="#contact" id="contact_a" data-toggle="tab">Other Details</a></li>
     <li class="bold"><a href="#bank" data-toggle="tab">Bank Details</a></li>
     <li class="bold"><a href="#salary" data-toggle="tab">Salary Details</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <%= render 'basic_details',:f => f %>
      </div>
      <div class="tab-pane" id="contact">
        <%= render 'other_details',:f => f %>
      </div>
      <div class="tab-pane" id="bank">
        <%= render 'bank_details',:f => f %>
      </div>
      <div class="tab-pane" id="salary">
        <%= render 'salary_structure' %>
      </div>
    </div>
 <div class="bootstrap">
  <div class="actions">
    <%= link_to 'Go to Employees Page', employes_path,:class => "btn" %>
    <%= f.submit "Create Employee",:class => "btn btn-primary" %>
  </div>
</div>
 <% end %>
</div>
<% if @employe.errors[:first_name].present? || @employe.errors[:last_name].present? || @employe.errors[:number].present? || @employe.errors[:date_of_birth].present? || @employe.errors[:sex].present? %>
 <script> 
   $("#basic_a").click();
 </script>
<% elsif @employe.errors[:email].present? || @employe.errors[:mobile_number].present? || @employe.errors[:pan].present? || @employe.errors[:designation].present? || @employe.errors[:date_of_joining].present? || @employe.errors[:address].present? ||  @employe.errors[:last_down_ctc].present? %>
 <script> 
   $("#contact_a").click();
 </script>
<% end %>
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>