 <div class="bootstrap">
    <ul class="nav nav-tabs">
     <li class="active bold"><a href="#basic" id="basic_a" data-toggle="tab">Basic Details</a></li>
     <li class="bold"><a href="#contact" id="contact_a" data-toggle="tab">Other Details</a></li>
     <% if current_user.is_admin? %>
     <li class="bold"><a href="#bank" data-toggle="tab">Bank Details</a></li>
     <% end %>
     <li class="bold"><a href="#salary" data-toggle="tab">Salary Details</a></li>
    </ul>
    <div class="tab-content" id="emp_form">
      <div class="tab-pane active" id="basic">
        <%= render 'basic_details',:f => f %>
      </div>
      <div class="tab-pane" id="contact">
        <%= render 'other_details',:f => f %>
      </div>
      <% if current_user.is_admin? %>
      <div class="tab-pane" id="bank">
        <%= render 'bank_details',:f => f %>
      </div>
      <% end %>
      <div class="tab-pane" id="salary">
        <%= render 'salary_structure' %>
      </div>
    </div>
 <div class="bootstrap">
  <div class="actions">
    <%= link_to 'Go to Employees Page', employes_path,:class => "btn" %>
    <% if current_user.is_admin? %>
    <%= f.submit "Save Details",:class => "btn btn-primary" %>
    <% end %>
    <% if !current_user.is_admin? %>
     <script>
      $("#emp_form").find("input,textarea,select").attr("disabled", "disabled");
     </script>
    <% end %>
  </div>
</div>