<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>Viveda Employee Payroll</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet">
  <style id="holderjs-style" type="text/css"></style></head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <body role="document" style="">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container" style="height:65px;">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://getbootstrap.com/examples/theme/#"> <%= image_tag "Logo-website2.png", :style => "height:65px;background-color:white;margin-top:-15px;" %></a>
        </div>
        <div class="navbar-collapse collapse">
        <% if current_user %>
          <ul class="nav navbar-nav">
            <% if current_user.is_admin? %>
            <li class="<%= menu_status(params,'employes') %>"><a href="<%= employes_path %>">Home</a></li>
            <% end %>
            <% if !current_user.is_employee? %>
            <li class="<%= menu_status(params,'employes','index') %>"><a href="<%= employes_path %>">Manage Employees</a></li>
            <%end%>
            <li class="<%= menu_status(params,'leaves') %>"><a href="<%= leaves_path %>">Leaves</a></li>
            <% if current_user.is_employee? %>
            <li class="<%= menu_status(params,'time_sheets') %>"><a href="<%= time_sheets_path %>">Time Sheet</a></li>
            <li class="<%= menu_status(params,'payrolls') %>"><a href="<%= user_payrolls_path(current_user) %>">Pay Slips</a></li>
            <% end %>
            <% if current_user.is_admin? %>
            <li class="dropdown <%= menu_status(params,'time_sheets') || menu_status(params,'holidays')%>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Settings<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="<%= menu_status(params,'holidays') %>"><a href="<%= holidays_path %>">Holidays Calender</a></li>
                <li class="<%= menu_status(params,'time_sheets') %>"><a href="<%= time_sheets_path %>">Time Sheets Management</a></li>
                <li><a href="http://getbootstrap.com/examples/theme/#">Payroll Generation</a></li>
              </ul>
            </li>
            <% end %>
          </ul>
          <% end %>
           <% if current_user %>
         <div class="navbar-header pull-right">
          <ul class="nav navbar-nav">
             <li><a href="<%= edit_employe_path(current_user) %>">Logged in as <%= current_user.first_name %></a></li>
            <li><%= link_to "Sign out", logout_path, method: "delete" %></li>
          </ul>
        </div>
        <% end %>
        </div>
        
      </div>
    </div>
    <div class="container theme-showcase" role="main">
      <%= yield %>
    </div>
  </body>
</html>