<!DOCTYPE html>
<html>
<head>
  <title>Payrolles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav" class="navbar navbar-inverse navbar-fixed-top" >
  <%= image_tag("Logo-website2.png",:style => "background-color:white;") %>
  <div style="float:right;color:white;font-size: 12pt;margin:15px">
  <%= link_to "Sign up.", sign_up_path,:style => 'color:white;' %> &nbsp;|&nbsp;
    <%= link_to "log in.", log_in_path,:style => 'color:white;' %>
  </div>
</div>
<br/>
<br/>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>

